{
  "presets": ["react"],
  "plugins": ["version-inline", "transform-css-import-to-string"],
  "env": {
    "cjs": {
      "presets": ["es2015-loose", "stage-0"],
      "plugins": ["add-module-exports"]
    },
    "es": {
      "presets": ["es2015-loose-native-modules", "stage-0"]
    },
    "production": {
      "presets": ["es2015-loose", "stage-0"]
    }
  }
}
